{% extends "management/index.html" %}

{% import "macros.html" as macros %}

{% block true_content %}
<div class="row">
    <h1 align="center">客户信息</h1>
</div>
<div style="padding: 5px;">
    <form class="bs-example bs-example-form" role="form">
        <div class="row" style="margin-bottom: 5px">
            {{ macros.render_filter('number', '编号', 'cid', filters, 'min=1') }}
            {{ macros.render_filter('text', '姓名', 'name', filters)}}
            {{ macros.render_filter('email', '邮箱', 'email', filters)}}
        </div>
        <div class="row" style="margin-bottom: 5px">
            {{ macros.render_filter('text', '地址', 'addr', filters)}}
            <div class="col-md-4 col-sm-4 col-md-push-4 col-sm-push-4" align="right">
                <button class="btn btn-primary">
                    检索
                </button>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped table-bordered" id="employ_table">
    <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>地址</th>
        </tr>
    </thead>
{% if clients %}
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.cid }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.addr }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endif %}
</table>
{% endblock %}