
{% extends "management/index.html" %}

{% import "macros.html" as macros %}

{% block true_content %}
<div class="row">
    <h1 align="center">订单信息</h1>
</div>
<div style="padding: 5px;">
    <form class="bs-example bs-example-form" role="form">
        <div class="row" style="margin-bottom: 5px">
            {{ macros.render_filter('number', '订单编号', 'oid', filters) }}
            {{ macros.render_filter('number', '用户编号', 'cid', filters)}}
            {{ macros.render_filter('date', '最小日期', 'min_date', filters)}}
        </div>
        <div class="row" style="margin-bottom: 5px">
            {{ macros.render_filter('date', '最大日期', 'max_date', filters)}}
            {{ macros.render_filter('text', '订单状态', 'state', filters)}}
            <div class="col-md-4 col-sm-4" align="right">
                <button class="btn btn-primary">
                    检索
                </button>
            </div>
        </div>
    </form>
</div>

{% if not orders %}
<div class="row">
    <div class="alert alert-info" style="margin:20px">未找到订单</div>
</div>
{% else %}
{% for order in orders %}
<div class="row">
    <div class="col-md-12 col-sm-12" align="center">
        <h4><i>订单号:{{ order.oid }}  客户号:{{ order.cid }}  时间:{{ order.time }}  状态:{{ order.state }}</i></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <table class="table table-striped table-bordered" style="margin-bottom: 10px;">
            <thead>
                <tr>
                    <th>货物编号</th>
                    <th>货物名称</th>
                    <th>单价</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in order.details %}
                <tr>
                    <td>{{ detail.gid }}</td>
                    <td>{{ detail.good_name }}</td>
                    <td>{{ detail.price }}</td>
                    <td>{{ detail.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br/>
{% endfor %}
{% endif %}

{% endblock %}