
{% extends "management/index.html" %}

{% import "macros.html" as macros %}

{% block true_content %}
<div class="row">
    <h1 align="center">购货单信息</h1>
</div>
<div style="padding: 5px;">
    <form class="bs-example bs-example-form" role="form">
        <div class="row" style="margin-bottom: 5px">
            {{ macros.render_filter('number', '购货单编号', 'purchase_id', filters) }}
            {{ macros.render_filter('number', '供应商编号', 'pid', filters)}}
            {{ macros.render_filter('number', '提交人', 'eid', filters)}}
        </div>
        <div class="row" style="margin-bottom: 5px">
            {{ macros.render_filter('number', '审核人', 'checker', filters)}}
            {{ macros.render_filter('number', '仓库编号', 'wid', filters)}}
            {{ macros.render_filter('text', '状态', 'state', filters)}}
        </div>
        <div class="row" style="margin-bottom:5px">
            <div class="col-md-4 col-sm-4 col-md-push-8 col-sm-push-8" align="right">
                <button class="btn btn-primary">
                    检索
                </button>
            </div>
        </div>
    </form>
</div>

{% if not purchases %}
<div class="row">
    <div class="alert alert-info" style="margin:20px">未找到购货单</div>
</div>
{% else %}
<div class="panel-group">
{% for purchase in purchases %}
<div style="margin-bottom: 10px;">
    <table class="table table-bordered" style="background-color:#FDFDFD;">
        <tbody>
            <tr>
                <td><b>购货单编号: {{ purchase.purchase_id }}</b></td>
                <td><b>供应商编号: {{ purchase.pid }}</b></td>
                <td><b>仓库编号: {{ purchase.wid }}</b></td>
            </tr>
            <tr>
                <td><b>提交人编号: {{ purchase.eid }}</b></td>
                <td><b>审核人编号: {{ purchase.checker }}</b></td>
                <td><b>状态: {{ purchase.state }}</b></td>
            </tr>
            <tr>
                <td colspan="3"><b>提交时间: {{ purchase.time }}</b></td>
            </tr>
            <tr>
                <td colspan="3" style="padding:0;">

                    <div id="collapse{{loop.index}}" class="collapse">
                        <table class="table table-striped table-bordered" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th>货物编号</th>
                                    <th>货物名称</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>总价</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in purchase.details %}
                                <tr>
                                    <td>{{ detail.gid }}</td>
                                    <td>{{ detail.good_name }}</td>
                                    <td>{{ detail.price }}</td>
                                    <td>{{ detail.count }}</td>
                                    <td>{{ detail.price*detail.count }}</td>
                                    <td>{{ detail.state }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if purchase.state == "未审核"%}
                        <button class="btn btn-success btn-block" value="{{ purchase.purchase_id }}" onclick="check_purchase(this)">确认审核</button>
                        {%endif%}
                    </div>

                    <button type="button" style="background-color:#F5F5EC;" class="btn btn-block" data-toggle="collapse" href="#collapse{{loop.index}}">
                        点击展开/折叠详情
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endfor %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function check_purchase(obj){
        $("button[value="+obj.value+"]").addClass('disabled');
        $("button[value="+obj.value+"]").attr('disabled', 'disabled');
        $.get("/manage/check_purchases/"+(obj.value), 
        function(data){
            if(data!='OK'){
                alert(data);
            }
            else
                $("button[value="+obj.value+"]").hide();
        });
    }
</script>
{% endblock %}